@charset "UTF-8";

.headline{
  text-align: center;
}
body{
  line-height: 1.7;
}
body{
  margin: 0;
}
.container {
  padding: 0 16px 0 16px;
}

/*
各パートにパティング、背景、テキスト色などを指定する
<div class="container”>の子要素に指定する
*/
.header-inner{
  padding:  10px 10px 0 10px;
  background: #bad7f5;
}
.nav-inner{
  padding: 10px 10px 0 10px;
  color: #fff;
  background: #0086f9
}
.main-inner{
  padding: 20px 10px 20px 10px;
  background: #fffde3;

  /*
  レイアウトのイメージをしやすいように高さを設定。
  通常のWebデザインではレイアウトでレイアウトで高さを指定しない
  */
  height: 400px;
}
.sideber-inner{
  padding: 20px 10px 20px 10px;
  background: #c0f5b9;
}
.footer-inner{
  padding: 20px 16px 10px 16px;
  background: #bad7f5
}
h1{
  color:#ff0000;
  font-family:"Avenir Next";

}
p.red{color:red;}
